/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color:black;
    color:beige;
    margin: 1;
    padding: 1;
}

header {
    background-color:cadetblue;
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 1;
}

nav ul {
    list-style: none;
    background-color:blue;
    padding: 1;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: black;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

footer {
    text-align: center;
    background-color:purple;
    padding: 10px;
}
